package {{.Package}};

import com.google.cloud.functions.HttpFunction;
import com.google.cloud.functions.HttpRequest;
import com.google.cloud.functions.HttpResponse;

public class {{.FunctionName.PascalCase}}Function implements HttpFunction {

  /**
   * Handle the request.
   *
   * @param request the http request
   * @param response the http response
   */
  @Override
  public void service(HttpRequest request, HttpResponse response)
      throws Exception {
    // TODO(neilcooper): get the TARGET env var

    // TODO(you): make stuff happen here!
    response.getWriter().write("Hello, World\n");
  }
}
