exports.{{.FunctionName.CamelCase}} =

    /**
     * Handles the request.
     *
     * @param req the Express HTTP request context
     * @param res the Express HTTP response context
     */
    (req, res) => {
      // TODO(you): make stuff happen here!
      const target = process.env.TARGET || 'from {{.FunctionName.PascalCase}} in Node.js';
      res.send(`Hello ${target}!\n`);
    };
